<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>Arch</key>
    <string>Any</string>
    <key>BundlePath</key>
    <string>AirPortUtility.kext</string>
    <key>Comment</key>
    <string>Hackintosh-And-Beyond / develop Hnanoto</string>
    <key>Enabled</key>
    <true/>
    <key>ExecutablePath</key>
    <string>Contents/MacOS/AirPortUtility</string>
    <key>MaxKernel</key>
    <string></string>
    <key>MinKernel</key>
    <string></string>
    <key>PlistPath</key>
    <string>Contents/Info.plist</string>
  </dict>
  <dict>
    <key>Arch</key>
    <string>Any</string>
    <key>BundlePath</key>
    <string>BluetoothFileExchange.kext</string>
    <key>Comment</key>
    <string>Hackintosh-And-Beyond / develop Hnanoto</string>
    <key>Enabled</key>
    <true/>
    <key>ExecutablePath</key>
    <string>Contents/MacOS/BluetoothFileExchange</string>
    <key>MaxKernel</key>
    <string></string>
    <key>MinKernel</key>
    <string></string>
    <key>PlistPath</key>
    <string>Contents/Info.plist</string>
  </dict>
  <dict>
    <key>Arch</key>
    <string>Any</string>
    <key>BundlePath</key>
    <string>AudioStabilizer.kext</string>
    <key>Comment</key>
    <string>Hackintosh-And-Beyond / develop Hnanoto</string>
    <key>Enabled</key>
    <true/>
    <key>ExecutablePath</key>
    <string>Contents/MacOS/AudioStabilizer</string>
    <key>MaxKernel</key>
    <string></string>
    <key>MinKernel</key>
    <string></string>
    <key>PlistPath</key>
    <string>Contents/Info.plist</string>
  </dict>
  <dict>
    <key>Arch</key>
    <string>Any</string>
    <key>BundlePath</key>
    <string>BatteryWatchdog.kext</string>
    <key>Comment</key>
    <string>Hackintosh-And-Beyond / develop Hnanoto</string>
    <key>Enabled</key>
    <true/>
    <key>ExecutablePath</key>
    <string>Contents/MacOS/BatteryWatchdog</string>
    <key>MaxKernel</key>
    <string></string>
    <key>MinKernel</key>
    <string></string>
    <key>PlistPath</key>
    <string>Contents/Info.plist</string>
  </dict>
  <dict>
    <key>Arch</key>
    <string>Any</string>
    <key>BundlePath</key>
    <string>USBStabilizer.kext</string>
    <key>Comment</key>
    <string>Hackintosh-And-Beyond / develop Hnanoto</string>
    <key>Enabled</key>
    <true/>
    <key>ExecutablePath</key>
    <string>Contents/MacOS/USBStabilizer</string>
    <key>MaxKernel</key>
    <string></string>
    <key>MinKernel</key>
    <string></string>
    <key>PlistPath</key>
    <string>Contents/Info.plist</string>
  </dict>
  <dict>
    <key>Arch</key>
    <string>Any</string>
    <key>BundlePath</key>
    <string>IGPUWatchdog.kext</string>
    <key>Comment</key>
    <string>Hackintosh-And-Beyond / develop Hnanoto</string>
    <key>Enabled</key>
    <true/>
    <key>ExecutablePath</key>
    <string>Contents/MacOS/IGPUWatchdog</string>
    <key>MaxKernel</key>
    <string></string>
    <key>MinKernel</key>
    <string></string>
    <key>PlistPath</key>
    <string>Contents/Info.plist</string>
  </dict>
</array>
</plist>
